<div id="footerWrapper">
    <div class="sectionHeader">
      <div>----------------  Contact  ----------------</div> 
    </div>
    <div class="footerContent">
        <div class="footerDetail">
            <div style="display:flex;flex-direction: column;margin:auto;">
            <div class="displayRow">
                <label> Email: </label>
                <div> ashishbisht006@gmail.com</div>
            </div>
            <div class="displayRow">
                <label> Phone: </label>
                <div> +91 7892712293</div>
            </div>
            <div class="address displayRow">
                <label> Address: </label>
                <div>
                    <p> Friends Layout <br>
                     Doddanakundi Extension <br>
                     Bangalore, 560037 <br>
                     India </p>
                </div>
            </div>
          </div>
        </div>
        <div class="footerMap">
            Map
        </div>
    </div>
</div>