<div id="aboutWrapper">
    <div class="content">
        <div>
            <div class="intro">
                {{content}}
            </div>
            <div>
                I am a Web Developer with 4 years of experience currently working at Sonicwall Technologies on a product that
                empowers customer to manage orders, licensing, renewals, upgrades and other entitlement services. Previously I 
                worked at Infosys Limited for a retail client on an application that aims to digitalize the supply chain by costing analysis and 
                provide reports with different material’s cost, background data and images on a dashboard.
            </div>
        </div>
        <div>
            <div>

            </div>
          <img src="assets/images/me.jpg" class="avatar">
        </div>
    </div>
    
</div>