#getInTouchWrapper{
    background-image: url('https://bisht-ashish.github.io/iamashish/assets/images/7.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .intro{
        font-family: cursive;
        color: white;
        font-size: 35px;
    }
}