<div class="appHeader">
  <app-header></app-header>
</div>
<app-home></app-home>
<app-about></app-about>
<app-gallery></app-gallery>
<app-contact></app-contact>
<app-footer></app-footer>
<div class="icon-bar">
    <div class="logo" *ngFor="let each of socialNetworks">
        <a [href]="each.path" target="_blank">
          <span>{{each.name}}</span>
          <img src="assets/images/{{each.name}}.svg" style="height: 30px;width: 30px;">
        </a>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->
